.header {
    grid-area: header;
    background-color: #ccffe6;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.header img {
    width: 40px;
    padding-top: 5px;
    padding-left: 10px;
    vertical-align: middle;
}

.logoText {
    margin-left: 30px;
}