.nav {
    grid-area: nav;
    background-color: burlywood;
    height: 100%;
    padding-left: 20px;
    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}