.nav {
    grid-area: nav;
    background-color: burlywood;
    height: 100%;
    padding-left: 20px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}